<div class="container my-5" >

    <div class="row ">

        <div class=" col mr-auto d-flex justify-content-center    font-weight-bold text-center "  >
            <div class="p-5 shadow bg-light " style="border-radius: 30px ;border:1px solid darkgrey ;">
                <div class=" m-3 ">
                    <h4 ><button class="bttn-gradient bttn-md bttn-success">درباره ما</button></h4>
                    <hr>
                    <p>
                    ۳تور یک پلتفرم برای یکپارچه سازی آژانس های گردشگری است که هدف خود را آسان کردن راه,  برای گسترش هر چه بیشتر صنعت گردشگری در ایران میداند.
                    </p>
                    <p>
                    تیم ۳تور همواره در تلاش بوده تا با ارائه راه حل های مدرن به دغدغه های موجود در حوزه گردشگری
                    در پیشرفت این حوزه تاثیرگذار باشد.
                    </p>
                    <p>
                    چند نمونه از راه حل های ارائه شده توسط ۳تور به این شرح اند
                    </p>
                    <p>
                    ضمانت معتبر بودن مجوز های آژانس ها و تور لیدر هایی که در سیستم فعالیت میکنند.
                    </p>
                    <p>
                    نمایش اطلاعات کامل هر سفر از آژانس های مختلف با تمام جزئیات
                    </p>
                    <p>
                    امکان ثبت نام در هر ساعت شبانه روز.
                    </p>
                    <p>
                    اتوماسیون فرایند پرداخت از طریق درگاه بانکی برای  افزایش امنیت و اعتماد کاربران.
                    </p>
                    <p>
                    تسهیل پیدا کردن سفر مناسب برای کاربران با توجه به تجمع آژانس های مختلف در سیستم 
                    </p>
                    <p>
                    اتوماسیون روند ثبت نام کاربران که با نهایت امنیت انجام می شود.
                    و …
                    </p>
                    <p>
                    امیدواریم با ادامه تلاش هایمان بتوانیم در پیشرفت گردشگری کشور سهیم باشیم.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>






