<div class="container my-5" >

    <div class="row ">

        <div class=" col mr-auto d-flex justify-content-center    font-weight-bold text-center "  >
            <div class="p-5 shadow bg-light " style="border-radius: 30px ;border:1px solid darkgrey ;">
                <div class=" ">
                    <h4 ><button class="bttn-gradient bttn-md bttn-success m-3"> قوانین و مقررات</button> </h4>
                    <p class=" ext-muted ">
                        1. وب‌سایت توسعه گردشگری 3تور  طبق قوانین جمهوری اسلامی ایران، قوانین جرایم اینترنتی و مجموعه‌ی قوانین و مقررات تجارت الکترونیکی فعالیت میکند.

                        <hr>      2. خدمات و محتوای عرضه شده توسط وب‌سایت توسعه گردشگری 3تور جهت استفاده‌ در این وب‌سایت تولید می‌شوند؛ هر گونه سوء استفاده از اطلاعات، متن‌ها، عکس‌ها، نقشه‌ها، طرح‌ها، لوگو و… از این وب‌سایت پیگرد قانونی دارد و هیچ فرد حقیقی یا حقوقی اجازه‌ی سوء استفاده از مطالب این وب‌سایت را ندارد. ذکر مطالب این وب‌سایت در اینترنت، تنها با ذکر نام و نشانی اینترنتی وب‌سایت توسعه گردشگری 3تور و لینک به مطلب و در رسانه‌های کاغذی، با کسب اجازه‌ی کتبی از مسئولان وب‌سایت مجاز است.

                        <hr>       3. اطلاعات شخصی کاربران  کاملاً محرمانه است. 3تور تمام تلاش خود را برای محافظت از اطلاعات شخصی کاربران به کار می‌بندد. لذا جهت حفظ حریم اطلاعات شخصی کاربران، کاربر باید تعهد بدهد تا عامل تلاش جهت هک کردن هر گونه اطلاعات موجود در سایت نبوده و هیچ‌گونه معاونت و یا مشارکتی با اشخاص حقیقی و یا حقوقی در این امر نداشته باشد. ضمناً کاربر تعهد می‌دهد که هر گونه اطلاع از توسل به هک کردن اطلاعات توسط شخص و یا موسسه‌ی دیگر را در اسرع وقت به مدیریت  3تور اطلاع دهد.

                        <hr>       4. کاربران متعهد می‌شوند که اطلاعات خود را هنگام ثبت‌نام و رزرو به صورت صحیح در وب‌سایت وارد کنند. در صورت ورود اطلاعات ناقص يا نادرست، مسئولیت عواقب بعدی این عمل بر عهده‌ی کاربران خواهد بود.

                        <hr>       5. کاربر متعهد می‌شود هرگونه تغییر در مشخصات فردی خود را در اسرع وقت در وب‌ 3تور اصلاح نماید. در غیر این‌صورت این وب‌سایت هیچ مسئولیتی در قبال تبعات ناشی از عدم صحت اطلاعات موجود نخواهد داشت.

                        <hr>      6. وب‌ 3تور به فروش اینترنتی بلیط هواپیما می‌پردازد و در قبال شرایط، کنسلی، تاخیر یا تعجیل پرواز مسئولیتی را بر عهده نخواهد داشت.

                        <hr>        7. هرگونه سوء استفاده از نام مفید تراول(mofidtravel)، سایت اینترنتی  3تور، مکاتبه از طرف  3تور و یا استفاده از نام های مشابه که شبهه مشابهت و تطابق را ایجاد نماید ممنوع بوده از طریق شکایت به مراجع قانونی ذی‌صلاح، دادگاه‌های رسیدگی به جرائم اینترنتی در داخل و یا خارج از کشور و نیز اطلاع‌رسانی به سرویس دهندگان و سرویس گیرندگان اینترنتی قابل پیگرد خواهد بود.

                        <hr>     8. وب‌ 3تور اطلاعات شخصی کاربران را با هیچ مجموعه‌ی دیگری به اشتراک نخواهد گذاشت و مراجع ذی‌صلاح فقط در صورت موارد مصرح در قانون، امکان استفاده از این اطلاعات را خواهند داشت.

                        <br>   9.  3تور مسئولیتی در مورد محتوای وب‌سايت‌هایی که به آن‌ها لینک داده است، ندارد. این لینک‌ها به منزله‌ی تائید یا ارتباط ما با تولیدکنندگان آن‌ها نیست.</p>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>






