<!--second nav with category and search-->
<!-- Favicon -->
<link href="/img/logo.ico" rel="icon" type="image/ico">

<style>

</style>

<div class="test  ">
    <div id="particles-js" class="backblue" ></div>
    <div class="p-5 ">
        <div  class="col-md-12 p-5 col-12 text-white " >
            <h1 class=" h1 font-weight-bold "><span ><button style="color: #1d89ff; background-color: white;" class="bttn-pill bttn-lg bttn-success p-3">  <strong>3تور</strong></button,></span> راهی آسان و مطمئن برای رزرو  تور     !</h1>
            <h5 class="pt-2 pb-2 h4 ">سامانه ای جامع برای آژانس های گردشگری </h5>
            <h6 class="pt-2 d-none d-sm-block ">اینجا همیشه لیستی از سفر های تفریحی کوتاه و بلند, بازدید از جاذبه های گردشگری نقاط مختلف ایران و حتی سفر های برون مرزی جذاب خواهید دید...</h6>
            <div class="col-md-12 col-12 p-2  ">
                <img class="cardHeight " src="undraw_true_love_cy8x.svg" alt="3tour">
            </div>
        </div>

    </div>
</div>



<div class="container my-4">

    <div class="section-title">
        <small>برجسته</small>
        <h3>ویژگی‌های دوست داشتنی</h3>
    </div>

    <div class="row">
        <div class="col-12 col-lg-4">
            <div class="card features">
                <div class="card-body">
                    <div class="media">
                        <span class="oi oi-cloud text-dark icon ml-3" ></span>

                        <div class="media-body">
                            <h4 class="card-title">ساده</h4>
                            <p class="card-text">طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card features">
                <div class="card-body">
                    <div class="media">
                        <span class="oi oi-fire text-dark icon ml-3" ></span>

                        <div class="media-body">
                            <h4 class="card-title">ساده</h4>
                            <p class="card-text">طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card features">
                <div class="card-body">
                    <div class="media">
                        <span class="oi oi-heart  text-dark icon ml-3" ></span>

                        <div class="media-body">
                            <h4 class="card-title">ساده</h4>
                            <p class="card-text">طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</div>



<div class="section light-bg my-4">
    <div class="container">

        <div class="section-title">
            <small>ویژگی‌ها</small>
            <h3>آشنایی بیشتر با سیستم </h3>
        </div>

        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#communication">ارتباطات</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#schedule">برنامه ریزی</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#messages">پیام‌ها</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#livechat">چت زنده</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="communication">
                <div class="d-flex flex-column flex-lg-row">
                    <img src="undraw_by_the_road_4rfk.svg" width="40%" alt="graphic" class="img-fluid align-self-center ml-lg-5 mb-5 mb-lg-0">
                    <div>
                        <h2>با سهولت ارتباط برقرار کنید</h2>
                        <p class="lead">به سادگی با ارتباط با مدرسان حرفه ای مهارت جدید فرا بگیرید</p>

                        <p>
                            طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد.
                        </p>
                        <p>
                            طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="schedule">
                <div class="d-flex flex-column flex-lg-row">
                    <div>
                        <h2>زمانی که می خواهید برنامه ریزی کنید</h2>
                        <p class="lead">به سادگی با ارتباط با مدرسان حرفه ای مهارت جدید فرا بگیرید</p>

                        <p>
                            طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد.
                        </p>
                        <p>
                            طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد.
                        </p>
                    </div>
                    <img src="undraw_progressive_app_m9ms.svg" width="40%" alt="graphic" class="img-fluid align-self-center mr-lg-5 mb-5 mb-lg-0">
                </div>
            </div>
            <div class="tab-pane fade" id="messages">
                <div class="d-flex flex-column flex-lg-row">
                    <img src="undraw_location_search_bqps.svg"  width="40%" alt="graphic" class="img-fluid align-self-center ml-lg-5 mb-5 mb-lg-0">
                    <div>
                        <h2>سرویس پیام فوری</h2>
                        <p class="lead">به سادگی با ارتباط با مدرسان حرفه ای مهارت جدید فرا بگیرید</p>

                        <p>
                            طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد.
                        </p>
                        <p>
                            طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="livechat">
                <div class="d-flex flex-column flex-lg-row">
                    <div>
                        <h2>چت زنده هنگامی که شما نیاز دارید</h2>
                        <p class="lead">به سادگی با ارتباط با مدرسان حرفه ای مهارت جدید فرا بگیرید</p>

                        <p>
                            طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد.
                        </p>
                        <p>
                            طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد.
                        </p>
                    </div>
                    <img src="undraw_donut_love_kau1.svg" width="40%" alt="graphic" class="img-fluid align-self-center mr-lg-5 mb-5 mb-lg-0">
                </div>
            </div>
        </div>

    </div>
</div>


<div class="section" id="pricing">
    <div class="container">
        <div class="section-title">
            <small>پنل‌ها</small>
            <h3>ارتقاع به پنل ویژه</h3>
        </div>

        <div class="card-deck">
            <div class="card pricing">
                <div class="card-head">
                    <small class="text-primary">شخصی</small>
                    <span class="price">450<sub> هزارتومان</sub></span>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> <span class="price">5% از تراکنشها</span></li>
                    <li class="list-group-item">پشتیبانی</li>
                    <li class="list-group-item">همکاری</li>
                    <li class="list-group-item">گزارش و آنالیز</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="btn btn-primary btn-lg btn-block py-2">انتخاب این پنل</a>
                </div>
            </div>
            <div class="card pricing popular">
                <div class="card-head">
                    <small class="text-primary">شخصی</small>
                    <span class="price">450<sub> هزارتومان</sub></span>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> <span class="price">5% از تراکنشها</span></li>
                    <li class="list-group-item">پشتیبانی</li>
                    <li class="list-group-item">همکاری</li>
                    <li class="list-group-item">گزارش و آنالیز</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="btn btn-primary btn-lg btn-block py-2">انتخاب این پنل</a>
                </div>
            </div>
            <div class="card pricing">
                <div class="card-head">
                    <small class="text-primary">شخصی</small>
                    <span class="price">450<sub> هزارتومان</sub></span>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> <span class="price">5% از تراکنشها</span></li>
                    <li class="list-group-item">پشتیبانی</li>
                    <li class="list-group-item">همکاری</li>
                    <li class="list-group-item">گزارش و آنالیز</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="btn btn-primary btn-lg btn-block py-2">انتخاب این پنل</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section bg-gradient backblue my-4">
    <div class="container">
        <div class="call-to-action">

            <h2>راه‌های دانلود</h2>
            <p class="tagline">طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید</p>
            <div class="my-4">
                <a href="#" style="background-color: white; color: #1d89ff;" class="btn px-4">تماس با ما</a>
                <a href="#" class="btn btn-primary">دانلود اپلیکیشن</a>
            </div>
            <p class="text-light"><small><i>*از ورژن 5 اندروید و 10 به بالای پشتیبانی میشود</i></small></p>
        </div>
    </div>
</div>
<div class="section pt-0 mt-5">
    <div class="container">
        <div class="section-title">
            <small>FAQ</small>
            <h3>سوالات متداول</h3>
        </div>

        <div class="row pt-4">
            <div class="col-md-6">
                <h4 class="mb-3">می توانم قبل خرید تست کنم ؟</h4>
                <p class="light-font mb-5">طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید</p>
                <h4 class="mb-3">چطور باید پرداخت کنیم ؟</h4>
                <p class="light-font mb-5">معمولا طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی استفاده می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه طراحی یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر می‌رسد</p>
            </div>
            <div class="col-md-6">
                <h4 class="mb-3">آیا میتوانم پنل خود را بعدا تغییر دهم ؟</h4>
                <p class="light-font mb-5">قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی که طراحان عموما نویسنده متن نیستند و وظیفه رعایت حق تکثیر متون را ندارند و در همان حال کار آنها به نوعی وابسته به متن می‌باشد</p>
                <h4 class="mb-3">ایا قراردادی بسته میشود ؟</h4>
                <p class="light-font mb-5">طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید</p>
            </div>
        </div>
    </div>
</div>



<script>
    particlesJS("particles-js", {"particles":{"number":{"value":139,"density":{"enable":true,"value_area":800}},"color":{"value":"#fff"},"shape":{"type":"circle","stroke":{"width":0,"color":"#000000"},"polygon":{"nb_sides":5},"image":{"src":"img/github.svg","width":100,"height":100}},"opacity":{"value":0.3447335930860874,"random":true,"anim":{"enable":false,"speed":1,"opacity_min":0.1,"sync":false}},"size":{"value":8.017060304327615,"random":true,"anim":{"enable":false,"speed":40,"size_min":0.1,"sync":false}},"line_linked":{"enable":false,"distance":500,"color":"#ffffff","opacity":0.4,"width":2},"move":{"enable":true,"speed":1.603412060865523,"direction":"bottom","random":false,"straight":false,"out_mode":"out","bounce":false,"attract":{"enable":false,"rotateX":600,"rotateY":1200}}}, "retina_detect":true});var count_particles, stats, update; stats.domElement.style.position = 'absolute'; stats.domElement.style.left = '0px'; stats.domElement.style.top = '0px'; document.body.appendChild(stats.domElement); count_particles = document.querySelector('.js-count-particles'); update = function() { stats.begin(); stats.end(); if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) { count_particles.innerText = window.pJSDom[0].pJS.particles.array.length; } requestAnimationFrame(update); }; requestAnimationFrame(update);;

</script>
